<div class="consent-table">
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Consent Given for</th>
        </thead>
        <tbody>
            <tr>
                <td>Bojack Horseman</td>
                <td>bojack&#64;horseman.com</td>
                <td>Receive newsletter, Be shown targetted ads</td>
            </tr>
            <tr>
                <td>Princess Carolyn</td>
                <td>princess&#64;manager.com</td>
                <td>Receive newsletter</td>
            </tr>
        </tbody>
    </table>
</div>