<div class="consent-form">
    <form [formGroup]="consentForm">
        <input type="text" placeholder="Name" formControlName="nome">
        <input type="text" placeholder="Email Address" formControlName="email">
        <span>I agree to:</span>
        <div class="check-options">
            <label for="receive">
                <input
                    type="checkbox"
                    (change)="checkboxValue($event)"
                    name="receive"
                    value="{{consentEnum.Receive}}"
                > {{consentEnum.Receive}}
            </label>
            <label for="receive">
                <input
                    type="checkbox"
                    (change)="checkboxValue($event)"
                    name="showAds"
                    value="{{consentEnum.ShowAds}}"
                >
                {{consentEnum.ShowAds}}
            </label>
            <label for="receive">
                <input
                    type="checkbox"
                    (change)="checkboxValue($event)"
                    name="contribute"
                    value="{{consentEnum.Contribute}}"
                >
                {{consentEnum.Contribute}}
            </label>
        </div>
        <button type="button" routerLink="/consents" [disabled]="!isChecked" (click)="submitConsent()">Give Consent</button>
    </form>
</div>
